* {
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
  }
svg {
    background-color: var(--bs-black);
    fill: white;
  }
  
  
  header{
    background-color: var(--bs-black);
    color: var(--bs-white);
  }
  .global-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* flex-direction: row; */
    /* flex-wrap: wrap;  */
    /* justify-content: space-bet; */
    /* align-items: center; */
    /* padding: 0.5em 1em; */
    height: fit-content;
  }
  .global-nav__section-heading{
    padding-left: 5px;
  }
  .icon{
    max-width: 20px;
    max-height: 20px;
  }

  a{
    text-decoration: none;
  }

.global-nav__split-button a{
  color: var(--bs-white);
}

  
  
  .disclaimer{
    padding: 10px;
  }
  
  .disclaimer-link{
    text-decoration: underline;
    color: blue;
  }

  
.logo {
    height: 0;
    width: 0;
    margin: 0.5em;
    display: inline-block;
    border-top: 34px solid var(--bs-light-green);
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
  }

.global-nav {
  max-height: 0;
  width: 100%;
  grid-area: 2/1/3/3;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.global-nav.open {
  max-height: fit-content; /* Adjust to fit content */
}

.visitList{
  max-height:0;
  width: 100%;
  overflow: hidden;
  transition: max-height 5s ease-in-out;
  list-style: none;
  padding-left: 0;

}

.visitList li{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  padding-left: 0;
}


.open{
  max-height: fit-content;
}
  
  .search-icon{
    margin-right: 20px;
  }
  
  .global-header__right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: right;
  }
  .global-nav-toggle{
    display: flex;
    flex-direction: row;
    align-items: center;
  } 
  
  .site-title{
    color: var(--bs-white);
    text-decoration: none;
  }
  
  .global-nav-toggle{
    height: 30px;
    background-color: var(--bs-black);
    color: var(--bs-white);
    border: none;
    font-size: large;
  }
  .hero-banner__image{
    width: 100%;
    height: auto;
  
  }
  .hero-banner__content{
    grid-template-columns: 1fr 1fr 2fr;
    display: grid;
  }
  
  span{
    color: var(--bs-white);
  }
  
  #park-header{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    height: 60px;
    margin-bottom: 20px;
  }
  
  #hero-banner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  }
  .hero-banner__content{
    grid-area: 3 / 1 / 4 / 6;
    z-index: 1;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.575);
  }

  .banner-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--bs-white);
  }
  
  
.parkType, .statesOfPark{
    color: var(--bs-white);
    font-size: small;
  }

  img{
    width: 100%;
    height: 150px;
    grid-area: 1 / 1 / 4 / 6;
    z-index: 0;
  }
  
  .plan-visit {
    color: var(--bs-white);

  }

  .global-nav__split-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #4b4b4b;
  }

.global-nav__list{
  list-style-type: none;
  padding-left: 0;
}
.global-nav__list li a{
  padding-left: 5px;
}
.global-nav__split-button__toggle{
  background-color: #4b4b4b;
  border: none;
}
.global-nav__split-button__toggle svg{
  border: none;
  background-color: #4b4b4b;
  color: #ffffff;
}