@import "partials/footer.css";
@import "partials/header.css";
@import "partials/variable.css";
@import "partials/aLinks.css";

/* Global styles */



body {
  font-family: var(--bs-body-font-family);
  font-size: 18px;
  margin: 0;
}



/* Title and logo styling */

.site-title {
  display: flex;
  align-items: center;
}
.site-title > span {
  font-size: 1rem;
  margin-left: 0.3em;
}


/* Utility styles */




a{
  text-decoration: none;
}


/* .global-nav-toggle{
  margin-left: 25vw;
  display : flex;
  flex-direction: row;
} */


h1{
  margin-right: 10px;
}

.park-Discription{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 1px;
}






.main-Title{
background-color: white;
color: #000000;
padding: 10%;
}
main{
  padding : 10%;
}

.card-image{
  width: 100%;
  height: auto;

}

