@import "partials/footer.css";
@import "partials/header.css";
@import "partials/variable.css";
@import "partials/aLinks.css";

/* Global styles */



body {
  font-family: var(--bs-body-font-family);
  font-size: 18px;
  margin: 0;
}



/* Title and logo styling */

.site-title {
  display: flex;
  align-items: center;
}
.site-title > span {
  font-size: 1rem;
  margin-left: 0.3em;
}


/* Utility styles */








h1{
  margin-right: 10px;
}

.park-Discription{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 1px;
}






.main-Title{
background-color: white;
color: #000000;
padding: 10%;
}
main{
  padding : 10%;
}

.card-image{
  width: 100%;
  height: auto;

}

.global-nav {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.global-nav.open {
  max-height: 500px; /* Adjust to fit content */
}

.hide{
  display: none;
}
.global-nav__list a{
  text-decoration: none;
  color: var(--bs-white);
}