@import "partials/footer.css";
@import "partials/header.css";
@import "partials/variable.css";

/* Global styles */



body {
  font-family: var(--bs-body-font-family);
  font-size: 18px;
  margin: 0;
}

a:link,
a:visited {
  color: var(--bs-link-color);
}

a:hover {
  color: var(--bs-link-hover-color);
}

/* Skip links styling */
.skip-links ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.skip-links a {
  font-size: 11px;
  font-size: 0.6875rem;
  position: absolute;
  right: 20px;
  top: -200px;
  z-index: -1;
}

.skip-links a:focus {
  top: 2px;
  z-index: 9999;
}

/* Title and logo styling */

.site-title {
  display: flex;
  align-items: center;
}
.site-title > span {
  font-size: 1rem;
  margin-left: 0.3em;
}


/* Utility styles */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


a{
  text-decoration: none;
}


/* .global-nav-toggle{
  margin-left: 25vw;
  display : flex;
  flex-direction: row;
} */


h1{
  margin-right: 10px;
}

.park-Discription{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 1px;
}






.main-Title{
background-color: white;
color: #000000;
padding: 10%;
}
main{
  padding : 10%;
}

.card-image{
  width: 100%;
  height: auto;

}

footer{
  padding:10%;
  background-color: rgb(235, 231, 226);
}